<header>
    <div class="conteiner">
        <nav class="navbar navbar-expand-md navbar-fixed-top main-nav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a href="index.html">
                <button type="submit"><img src="assets/wallpaper/index.png"/></button>
              </a>
            </li>
            <li class="nav-item active">
              <a href="https://www.battle.net/download/getInstallerForGame?gameProgram=STARCRAFT_2&id=1054994700.1538351964" class="nav-link">
                <button type="submit"><img src="assets/wallpaper/sc2.png"/></button>
              </a>
            </li>
            <li class="nav-item active">
              <a href="http://www.laespira.com" class="nav-link">
                <button type="submit"><img src="assets/wallpaper/laespira.png"/></button>
              </a>
            </li>
            <li class="nav-item active">
              <a href="https://www.twitch.tv/directory/game/StarCraft%20II" class="nav-link">
                <button type="submit"><img src="assets/wallpaper/twitch.png"/></button>
              </a>
            </li>
          </ul>
        </nav>
    <h1> RESUMEN GENERAL DEL JUEGO</h1>
    <p>
      Con tres razas, cuatro modos e infinitas maneras de jugar, StarCraft II ofrece la mejor experiencia<br>
      en juegos de estrategia en tiempo real. ¿Crees que tienes lo que hace falta para convertirte en el<br>
      comandante de toda la galaxia?<br>
    </p>
  </div>
</header>