*{
    color: white;
    font-size: 25px;
    font-style: inherit;
}

header{
    background-image: url('/assets/wallpaper/header.jpg');
}
nav{
    background-color: rgba(0,0,0,0);
}

button {
    background: rgba(0, 0, 0, 0);
	border: 0px ;
	border-top: 0px ;
	border-left: 0px ;
	cursor: pointer;
}
h1{
    color: #ffffff;
    font-size: 25px;
    font-style: inherit;
    text-align: center;
    font-family: sans-serif;
}
p{
    color: #a3b8cc;
    font-style: inherit;
    font-family: sans-serif;
    text-align: center;
}
img{
    width: 50px;
    height: 50px;
}