  <section class="ae-container-fluid rk-main">
    <h4>ASPECTOS BASICOS</h4>
    <H2>UNA GUIA PARA CONQUISTAR LA GALAXIA</H2>
    <img src="/assets/wallpaper/razas.png">
    <table class="tabla">
      <tr>
        <td>
          <h3>1.-Construye una base</h3>
          <p class="description">Recoge minerales y gas vespeno para construir estructuras de producción y mejorar tu tecnología.</p>
        </td>
        <td>
          <h3>2.-Construye un ejército</h3>
          <p>Gasta minerales y gas vespeno para crear un ejército único y poderoso.</p>
        </td>
        <td>
          <h3>3.-Lánzate a la batalla</h3>
          <p>Despliega tus fuerzas con creatividad y sutileza para derrotar a tus oponentes.</p>
        </td>
      </tr>
    </table>
    <h4>HABILIDAD MULTITAREA</h4>
    <H2>MACRO Y MICROESTRATEGIAS</H2>
    <P>En StarCraft II los jugadores deben gestionar una economía a gran escala mientras controlan<br>
       unidades con microestrategias, lo que llevará a sus capacidades estratégicas<br>
       y tácticas al límite.</P>
    <img src="/assets/wallpaper/mapa.png">
    <h4>TRES RAZAS ÚNICAS</h4>
    <H2>¿QUÉ BANDO ELEGIRÍAS?</H2>
    <P>Cada una de las tres razas de StarCraft II tiene una personalidad única y un estilo de juego<br>
      propio, además de un conjunto variado de unidades y edificaciones especializadas.<br>
      ¡Elige la que quieras dominar o juega con las tres!</P>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>
            <div aling="center">
              TERRAN
              <img src="assets/wallpaper/Terran.png" id="terran">
            </div>
          </td>
          <td>
            ZERG
            <img src="assets/wallpaper/Zerg.png" id="zerg">
          </td>
          <td>
            PROTOSS
            <img src="assets/wallpaper/Protoss.png" id="protoss">
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4>Humanos ingeniosos con tecnologías diversas y mucha actitud.</h4>
            <p class="description">Llegados hace relativamente poco al sector Koprulu, los terran son los descendientes
              de una expedición colonizadora que lanzó la Tierra hace varios siglos y cuyos
              resultados fueron desastrosos. Aunque no contaban con la tecnología avanzada
              de los protoss ni la fuerza natural de los zerg, las fuerzas militares terran
              cuentan con una combinación variada de unidades resistentes y versátiles capaces
              de superar en astucia a sus enemigos.<br><br>
              Caracteristicas únicas:</p>
              <ul>
                <li>Edificios que pueden volar</li>
                <li>Unidades que se transforman, como el Vikingo y el Demonio.</li>
                <li>Muchas estrategias viables, entre las que se incluyen estilos mecánicos e infantería.</li>
              </ul>
              <div class="btn-group dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdown3" data-toggle="dropdown">
                  Unidades importantes:
                </button>
                <div class="dropdown-menu">
                  <ul>
                    <li class="dropdown-item">Marine</li>
                    <li class="dropdown-item">Tanque de asedio</li>
                    <li class="dropdown-item">Crusero de batalla</li>
                  </ul>
                </div>
              </div>
              <br><br><br><br>
          </td>
          <td>
            <h4>Un enjambre feroz de bestias despiadadas capaces de devorar mundos.</h4>
            <p class="description">Guiados por la astuta Reina de las Cuchillas, los zerg están dispuestos a desatar el
              horror en la galaxia y devorar a todos aquellos que se crucen en su camino. Los zerg
              no utilizan la tecnología para crear sus armas, armaduras o naves estelares.
              En cambio,cumplen estas funciones de manera eficiente por medio de la adaptación
              biológica y de mutaciones planificadas.<br><br>
              Caracteristicas únicas:</p>
              <ul>
                <li>Unidad que se entierra debajo de la superficie.</li>
                <li>Enjambres de unidades veloces, como zergueznos y mutaliscos.</li>
                <li>Expansión de talo que cubre las bases de los zerg en una sustancia biológica nutritiva</li>
              </ul>
              <div class="btn-group dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdown3" data-toggle="dropdown">
                  Unidades importantes:
                </button>
                <div class="dropdown-menu">
                  <ul>
                    <li class="dropdown-item">Zergling</li>
                    <li class="dropdown-item">Mutalisco</li>
                    <li class="dropdown-item">Ultralisco</li>
                  </ul>
                </div>
              </div>
              <br><br><br><br>
          </td>
          <td>
            <h4>Guerreros ancestrales nobles con una armada dorada y tecnología psiónica avanzada.</h4>
            <p class="description"> Durante miles de años, los ancestrales y misteriosos protoss han dominado su parte de
            la galaxia. Potenciados enormemente por la combinación entre tecnología y una fortaleza
            psiónica formidable, los guerreros protoss cuentan con una habilidad y una valentía
            inigualables.<br><br>
            Caracteristicas únicas:</p>
            <ul>
              <li>Unidades con escudos que se recargan con el tiempo.</li>
              <li>Unidades individuales poderosas como el Coloso y el Portanaves.</li>
              <li>Tecnología de Portal de transposición para construir unidades.</li>
            </ul>
            <div class="btn-group dropdown">
              <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdown3" data-toggle="dropdown">
                Unidades importantes:
              </button>
              <div class="dropdown-menu">
                <ul>
                  <li class="dropdown-item">Zealot</li>
                  <li class="dropdown-item">Alto Templario</li>
                  <li class="dropdown-item">Portanaves</li>
                </ul>
              </div>
            </div>
            <br><br><br><br><br><br>
          </td>
        </tr>
      </tbody>
    </table>
  </section>